backcall==0.1.0
Click==7.0
decorator==4.3.0
Flask==1.0.2
-e git+git@github.com:fayazkhan/fuzzy-autocomplete.git@3884bdf8eaa44a4f43c3f80f491e11463226238c#egg=fuzzy_autocomplete
ipython==7.16.3
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
Logbook==1.4.0
MarkupSafe==1.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.4
ptyprocess==0.6.0
Pygments==2.2.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.3
